# Assignment 6 - pandas ANSWERS  
### Code by Trevor Faske.    

Use this notebook and prompts to complete the homework. Throughout there will be hints and some code provided  

### Things you will need:  
- Install os, NumPy, pandas  
- states_covid.csv  
- Bloom_etal_2018_Reduced_Dataset.csv  
- logfiles.tgz (or some other multiple file dataset)  

*NOTE*: Make sure your PATH is correct  

**import packages & check required datasets**

In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
PATH = '/Users/trevorfaske/g/Classes/BIOL792/F22_BIOL792_coursepage/week11_python6/' #CHANGE

In [5]:
assert os.path.exists(os.path.join(PATH,'states_covid.csv')), 'states_covid.csv does not exist'

In [6]:
assert os.path.exists(os.path.join(PATH,'Bloom_etal_2018_Reduced_Dataset.csv')), 'Bloom_etal_2018_Reduced_Dataset.csv does not exist'

## Task 1 - DataFrame manipulation  

Using **states_covid.csv**, we are going to read the data in as a DataFrame to manipulate, subset, and filter in various ways.   

### Task 1.1 

Read in states_covid.csv with date as a "date" dtype, and only columns consisting of the hospitalization (4 col), ICU (2 col), and Ventilators (2 col)

In [7]:
covid_df = pd.read_csv('states_covid.csv',
                                 usecols=['date','state','hospitalized', 'hospitalizedCumulative',
                                          'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative',
                                          'inIcuCurrently','onVentilatorCumulative', 'onVentilatorCurrently',],
                                 parse_dates=['date'],infer_datetime_format=True)
covid_df.head()

,date,state,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,inIcuCurrently,onVentilatorCumulative,onVentilatorCurrently
0,2021-02-23,AK,1260.0,1260.0,38.0,9,NaN,NaN,NaN,5.0
1,2021-02-23,AL,45250.0,45250.0,762.0,122,2632.0,NaN,1497.0,NaN
2,2021-02-23,AR,14617.0,14617.0,545.0,47,NaN,204.0,1505.0,99.0
3,2021-02-23,AS,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,2021-02-23,AZ,57072.0,57072.0,1515.0,78,NaN,447.0,NaN,266.0

### Task 1.2 

For each of the following catergories: *currently* hospitalized, *currently* in the ICU, and *currently* on ventilation...  
Find the 5 states with the greatest numbers in each catergory and list them in order.      
*hint*: sort_values, unique

In [8]:
topH = covid_df.sort_values(by='hospitalizedCurrently',ascending=False).state.unique()[:5]
print('Top 5 Hospital: ',topH)

topICU = covid_df.sort_values(by='inIcuCurrently',ascending=False).state.unique()[:5]
print('Top 5 ICU: ',topICU)

topV = covid_df.sort_values(by='onVentilatorCurrently',ascending=False).state.unique()[:5]
print('Top 5 Ventilation: ',topV)

Top 5 Hospital:  ['CA' 'NY' 'TX' 'FL' 'NJ']
Top 5 ICU:  ['NY' 'CA' 'TX' 'NJ' 'MI']
Top 5 Ventilation:  ['NY' 'NJ' 'MI' 'OH' 'IL']

### Task 1.3 

Find the date in which each state crossed 1000 cumulative hospitilized covid patients

In [9]:
covid_1000_df = covid_df[covid_df['hospitalizedCumulative'] >= 1000]
covid_1000_df = covid_1000_df[['date','state','hospitalizedCumulative']]
covid_1000_df.head()

        date state  hospitalizedCumulative
0 2021-02-23    AK                  1260.0
1 2021-02-23    AL                 45250.0
2 2021-02-23    AR                 14617.0
4 2021-02-23    AZ                 57072.0
6 2021-02-23    CO                 23293.0

In [10]:
covid_1000_df.groupby('state').agg('min')['date']

state
AK   2020-12-29
AL   2020-05-01
AR   2020-06-15
AZ   2020-04-11
CO   2020-04-07
CT   2020-05-01
FL   2020-04-02
GA   2020-04-02
HI   2020-10-18
ID   2020-08-11
IN   2020-05-08
KS   2020-06-17
KY   2020-04-18
MA   2020-04-04
MD   2020-04-06
ME   2020-12-23
MN   2020-04-30
MS   2020-04-26
MT   2020-10-17
ND   2020-10-08
NE   2020-06-11
NH   2021-01-24
NJ   2020-05-26
NM   2020-05-20
NY   2020-03-21
OH   2020-04-04
OK   2020-06-03
OR   2020-06-25
PA   2020-04-04
RI   2020-05-03
SC   2020-04-29
SD   2020-08-29
TN   2020-04-29
UT   2020-06-13
VA   2020-04-16
WA   2020-05-21
WI   2020-04-14
WY   2020-12-18
Name: date, dtype: datetime64[ns]

## Task 2 - DataFrame summarizing  

Using **Bloom_etal_2018_Reduced_Dataset.csv**, we are going to do more dataframe manipulation and subsetting and summarizing    

### Task 2.1 

Read in Bloom_etal_2018_Reduced_Dataset.csv and create two new columns ('genus','species') that consists of the column *taxa* split at the underscore. Print out the head of this new dataframe and the number of unique genera**     

*hint:* pd.str.split(,expand=True)  

for example:  

| taxa | genus | species   
| :------ | :-- | :---   
| Alosa_alabamae | Alosa | alabamae

In [11]:
bloom_df = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv')
bloom_df.head()

                   taxa  logbodysize  trophic_position         Reg
0        Alosa_alabamae     1.707570          0.431364  diadromous
1           Alosa_alosa     1.778151          0.556303  diadromous
2          Alosa_fallax     1.778151          0.556303  diadromous
3       Alosa_mediocris     1.778151          0.612784  diadromous
4  Alosa_pseudoharengus     1.602060          0.544068  diadromous

In [12]:
bloom_df['genus'] = bloom_df['taxa'].str.split('_',expand=True)[0]
bloom_df['species'] = bloom_df['taxa'].str.split('_',expand=True)[1]
len(bloom_df['genus'].unique())

34

### Task 2.2 

Create a new dataframe with the mean *logbodysize* and *trophicposition* of each genera. Sort this data frame by the largest body size. Print the head of this dataframe.

In [13]:
bloom_gen_df = bloom_df.groupby('genus',as_index=False).agg('mean')
bloom_gen_df.sort_values(by='logbodysize',ascending=False,inplace=True)
bloom_gen_df.head()

         genus  logbodysize  trophic_position
32   Tenualosa     1.778151          0.462398
0        Alosa     1.739062          0.540815
10      Coilia     1.544068          0.477121
15   Ethmalosa     1.544068          0.397940
23  Potamalosa     1.505150          0.518514

#### Which genera is the smallest and largest?

In [14]:
print('Largest:',
      bloom_gen_df['genus'][bloom_gen_df['logbodysize'] == bloom_gen_df['logbodysize'].max()])

print('Smallest:',
     bloom_gen_df['genus'][bloom_gen_df['logbodysize'] == bloom_gen_df['logbodysize'].min()])

Largest: 32    Tenualosa
Name: genus, dtype: object
Smallest: 1    Amazonsprattus
Name: genus, dtype: object

#### What is the trophic position of the smallest and largest?

In [15]:
print('Largest:',
      bloom_gen_df['trophic_position'][bloom_gen_df['logbodysize'] == bloom_gen_df['logbodysize'].max()])

print('Smallest:',
     bloom_gen_df['trophic_position'][bloom_gen_df['logbodysize'] == bloom_gen_df['logbodysize'].min()])

Largest: 32    0.462398
Name: trophic_position, dtype: float64
Smallest: 1    0.531479
Name: trophic_position, dtype: float64

## Task 3 - Read in muliple files to a dictionary and make a DataFrame - **OPTIONAL/BONUS**  

### This is not something you are expected to do in this course, but just here to give you an idea of the things that you COULD do. Answers will be posted after due date.  


Using **logfiles**: we are going to do read in each file, get some data, append it to a dictionary to later make into a dataframe.     

**note:** *make sure to unzip logfiles*

In [16]:
cd $PATH

/Users/trevorfaske/Desktop/Classes/BIOL792/F22_BIOL792_coursepage/week11_python6

In [17]:
!tar -xzf logfiles.tgz #unzip logfiles

In [18]:
log_dir = os.path.join(PATH,'logfiles')
assert os.path.exists(log_dir), 'log_dir does not exist'

First step is to find the necessary files. The number of files in the log files is 36, make sure you have that many as well

In [19]:
!ls -l logfiles/*txt | wc -l

      36

In [20]:
logfiles = !find $log_dir -name '*txt' #unix command to find files in log_dir directory
logfiles = [os.path.abspath(x) for x in logfiles] #this finds the full path to the file
print(logfiles[1])

/Users/trevorfaske/g/Classes/BIOL792/F22_BIOL792_coursepage/week11_python6/logfiles/1901302121_H8_S_14.txt.txt

In [21]:
assert(len(logfiles)==36), 'Do not have correct number of logfiles'

### Getting a little tricky here  

Read in each of the logfiles, for each file extract:  
- minimum temperature  
- maximum temperature  
- date of minimum temp   
- date of maximum temp   
- mean temp for each file.   

This data should all be appended for a dictionary within a for loop:    
Key should be the file name without the path or .txt extension  
Values should be (minTemp,maxTemp,minDate,maxDate,meanTemp)

I recommend making this work for one file first, then putting the rest in a for loop to do the rest.  

Below is an example of how to read in one file

*hint:* do not read date in as date object

In [22]:
### set up data frame as you read in each file
infile = pd.read_csv(logfiles[0],sep='\t',engine='python')
infile.columns = ['Index','Date','Time','Temp','Type']
infile = infile[['Date','Time','Temp']]
infile.head()

        Date         Time  Temp
0  9/16/2013   8:00:00 AM  47.9
1  9/16/2013   8:35:00 AM  48.2
2  9/16/2013   9:10:00 AM  48.7
3  9/16/2013   9:45:00 AM  49.4
4  9/16/2013  10:20:00 AM  50.3

Do everything in steps, make sure it works. Calculate summaries with this one infile:

In [23]:
minTemp =   
maxTemp =  
minDate = infile['Date'][infile['Temp'] == infile['Temp'].min()].unique()[0] #use this for minDate 
maxDate = infile['Date'][infile['Temp'] == infile['Temp'].max()].unique()[0] #use this for maxDate 
meanTemp =

SyntaxError: invalid syntax (<ipython-input-23-d888355c2242>, line 1)

To get you started, I suggest writing some dummy code in plain words to help outline your for loop:

In [ ]:
logfiles_dict = {}  
for f in logfiles:  
    #do something   
    #do not read date in as date object  
    #do more something   
    #do other stuff  
    #make print statements EVERYWHERE  
    #append to dict  
    #blahbahblah

Then do the real code below here. You don't need to turnin your thoughts. Just put it in there as a help reminder. Most people all still do this, no matter how advanced they are

In [ ]:
logfiles_dict = {}
for file in logfiles:
    file_name = file.split('/')[9] #This will change depending on YOUR PATH
    file_name = file_name.split('.')[0]
    print('parsing...... ',file_name)
    
    infile = pd.read_csv(file,sep='\t',engine='python')
        
    infile.columns = ['Index','Date','Time','Temp','Type']
    infile = infile[['Date','Time','Temp']]
    
    minTemp = infile['Temp'].min()
    maxTemp = infile['Temp'].max()
    minDate = infile['Date'][infile['Temp'] == infile['Temp'].min()].unique()[0]
    maxDate = infile['Date'][infile['Temp'] == infile['Temp'].max()].unique()[0]
    meanTemp = infile['Temp'].mean()

    logfiles_dict[file_name] = [minTemp,maxTemp,minDate,maxDate,meanTemp]
print('\n\nDone parsing',len(logfiles),'files....... ')

parsing......  1901302235_H6_S_14
parsing......  1901302121_H8_S_14
parsing......  1901302217_H18_D_14
parsing......  1901302110_H13_S_14
parsing......  1901302146_H14_D_14
parsing......  1901302240_H8_D_14
parsing......  1901302109_H7_S_14
parsing......  1901302150_H14_S_14
parsing......  1901302141_H19_S_14
parsing......  1901302241_H2_D_14
parsing......  1901302194_H10_S_14
parsing......  1901302227_H11_S_14
parsing......  1901302136_H15_D_14
parsing......  1901302223_H16_S_14
parsing......  1901302243_H5_S_14
parsing......  1901302122_H3_D_14
parsing......  1901302202_H16_S_14
parsing......  1901302236_H17_D_14
parsing......  1901302158_H9_S_14
parsing......  1901302225_H12_D_14
parsing......  1901302120_H5_D_14
parsing......  1901302118_H1_D_14
parsing......  1901302203_H7_S_14
parsing......  1901302119_H4_S_14
parsing......  1901302212_H9_D_14
parsing......  1901302108_H7_D_14
parsing......  1901302224_H3_S_14
parsing......  1901302237_H10_D_14
parsing......  1901302117_H15_S_14
parsing......  1901302137_H18_S_14
parsing......  1901302214_H19_D_14
parsing......  1901302134_H13_D_14
parsing......  1901302157_H12_S_14

In [29]:
list(logfiles_dict.items())[:5] #print first 5 items of dict

[('1901302235_H6_S_14',
  [21.3, 65.8, '12/6/2013', '7/13/2014', 35.726191321640705]),
 ('1901302121_H8_S_14',
  [17.9, 73.4, '10/28/2013', '7/13/2014', 34.698865895869396]),
 ('1901302217_H18_D_14',
  [21.0, 82.4, '10/28/2013', '7/26/2014', 33.334564066359555]),
 ('1901302110_H13_S_14',
  [22.8, 60.9, '10/4/2013', '7/13/2014', 32.24003248358139]),
 ('1901302146_H14_D_14',
  [24.6, 66.1, '1/21/2014', '7/13/2014', 34.24207513941743])]

In [30]:
logfiles_df = pd.DataFrame.from_dict(logfiles_dict,orient='index',columns=['minTemp','maxTemp','minDate','maxDate','meanTemp'])

**Once you have created a DataFrame with all the logfiles, print the head and save it to an outfile using pd.to_csv() as logfiles_df.csv**

In [31]:
logfiles_out = PATH + 'logfiles_df.csv'
logfiles_df.to_csv(logfiles_out)

In [32]:
logfiles_df.head()

                     minTemp  maxTemp     minDate    maxDate   meanTemp
1901302235_H6_S_14      21.3     65.8   12/6/2013  7/13/2014  35.726191
1901302121_H8_S_14      17.9     73.4  10/28/2013  7/13/2014  34.698866
1901302217_H18_D_14     21.0     82.4  10/28/2013  7/26/2014  33.334564
1901302110_H13_S_14     22.8     60.9   10/4/2013  7/13/2014  32.240032
1901302146_H14_D_14     24.6     66.1   1/21/2014  7/13/2014  34.242075